<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Web Keren</title>
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div>
<img alt="" src="https://qph.fs.quoracdn.net/main-qimg-9711acd099518267e4a112c90056bdca">
<img alt="" src="https://qph.fs.quoracdn.net/main-qimg-9711acd099518267e4a112c90056bdca">
<img alt="" src="https://qph.fs.quoracdn.net/main-qimg-9711acd099518267e4a112c90056bdca">
<img alt="" src="https://qph.fs.quoracdn.net/main-qimg-9711acd099518267e4a112c90056bdca">
</div>
</body>
</html>